<p style="color: green"><%= notice %></p>
<center>
<h1>Lista</h1>


<div>
  <div id="lista">
    <% @lista.each do |listum| %>
    <%= render listum %>
    <br>  
    <div>
      <%= link_to "Mostrar lista", listum %>
      <%= link_to "Nova Lista", new_listum_path %>
    </div>
    <br>
    <% end %>
  </div>
</div>